*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body{
	width:100%;
	height:100%;
}
li{
	list-style:none;
}
.maxBox{
	width:100%;
	height:100%;
	display:flex;
	-webkit-flex-direction:column;
}
header{
	flex-shrink:0;
	width:100%;
	height:2.5rem;
	background:#ea2728;
	line-height:2.5rem;
	text-align:center;
	font-size:1.1rem;
	color:#fff;
	.iconfont{
		float:right;
		margin-right:.6rem;
		font-size:1.4rem;
	}
}
.banner{
	width:100%;
	height:6.5rem;
	.swiper-wrapper{
		width:100%;
		height:6.5rem;
		.swiper-slide{
			width:100%;
			height:6.5rem;
			img{
				width:100%;
				height:100%;
			}
		}
	}
}
.main{
	width:100%;
	height:100%;
	overflow-y:auto;
	flex-grow:1;
	flex-shrink:1;
	background:#faf9f9;
	.box{
		width:100%;
		height:15rem;
		h3{
			width:100%;
			height:2.1rem;
			border-top:1px solid #ccc;
			line-height:2.1rem;
			font-size:.8rem;
			margin-left:.6rem;
			span{
				background:red;
				padding:.15rem;
				margin-right:.3rem;
			}
		}
		ul{
			width:100%;
			height:5.75rem;
			display:flex;
			flex-wrap:wrap;
			font-size:.6rem;
			li{
				width:25%;
				border:1px solid #ccc;
				height:100%;
				display:flex;
				-webkit-flex-direction:column;
				align-items:center;
				justify-content:center;
				.iconfont{
					font-size:2rem;
				}
				span:nth-child(2){
					margin-top:.5rem;
				}
			}
		}
	}
}
footer{
	width:100%;
	flex-shrink:0;
	height:2.5rem;
	background:#fff;
	ul{
			width:100%;
			height:2.5rem;
			display:flex;
			flex-wrap:wrap;
			font-size:.6rem;
			li{
				width:33.3%;
				height:100%;
				display:flex;
				-webkit-flex-direction:column;
				align-items:center;
				justify-content:center;
				.iconfont{
					font-size:1.6rem;
					color:#ff3d3d;
				}
			}
		}
}